.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Mac
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# package
cloudbanddetection.egg-info/
venv
.venv