.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Mac
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# package
src/cloudbandpy.egg-info.egg-info
src/cloudbandpy.egg-info/top_level.txt
src/cloudbandpy.egg-info/PKG-INFO
src/cloudbandpy.egg-info/SOURCES.txt
src/cloudbandpy.egg-info/dependency_links.txt

venv
.venv
.gitignore
